.main.article-big

    .spinner(ng-class="{'hid':!loading}")
        i.fa.fa-spinner.fa-spin.loadwheel
    .container-fluid
        .tour(ng-joy-ride="startJoyRide", config="config", on-finish="onFinish()", on-skip="onFinish()")
        .row
            .col-md-3.article-conteiner
                .article-content
                    .article-header


                        a.back(href='/article')
                            h4.text-uppercase
                                i.fa.fa-arrow-circle-left
                                |  Back
                        span(ng-click="startJoyRide=true", class="text-center info btn-complete") ?
                        h1 {{article.title}}

                        hr
                        h5 By {{article.author}}
                        h4.text-uppercase {{article.date}}
                        a.text-capitalize(href='{{article.url}}')
                            h4
                                i.fa.fa-link
                                |  Original article
                        hr
                        h4.text-uppercase.main-topic
                            | Main Entity:
                            span.entity {{terms[0] | escape}}

                    //p(ng-bind-html-unsafe="article.text | highlight:terms")
                    p(ng-bind-html="article.text | highlight:terms")

            .col-md-9.viz
                .tabbable-panel
                    .tabbable-line
                        
                        .controls
                            .row
                                .col-md-4.ctrl-s
                                    label Serendipity
                                    span.help
                                        i.fa.fa-question-circle(tooltip-placement="bottom",tooltip="You can determine how to weight the relevance and unexpectedness criteria by moving the slider")
                                    input(type="range", min="1", max="100", ng-model="serendipity")
                                    .slide-lbls
                                        span relevant
                                        span.pull-right unexpected
                                .col-md-2.ctrl-t
                                    label Threshold
                                    span.help
                                        i.fa.fa-question-circle(tooltip-placement="bottom",tooltip="You can determine the number of correlations to visualize")
                                    div
                                        input(class="cut", type='number', ng-model='cut', min='1', ng-max='article.num_of_associations')
                                        span.threshold-total  / {{article.num_of_associations}}

                                .col-md-3.ctrl-l
                                    label(style="display:block") Path length
                                    .btn-group.help
                                        label.btn.btn-primary(ng-model="checkModel.one", btn-checkbox) 1
                                        label.btn.btn-primary(ng-model="checkModel.two", btn-checkbox) 2
                                        label.btn.btn-primary(ng-model="checkModel.three", btn-checkbox) 3
                                .col-md-3
                                    div(ng-click="complete()", class="text-center btn-complete") Show the complete network



                        .tab-content
                            #tab_default_1.tab-pane.active
                                dnetwork

                            #tab_default_2.tab-pane

            .col-md-9.paths(ng-show="selected && paths.length")
                div.path-line(ng-repeat="path in paths")
                    span.term.pop-over(ids="{{terms[0]}}") {{terms[0] | escape}}
                    .pathrep(ng-repeat="step in path.steps")
                        i.fa.fa-chevron-left(ng-show="dirLeft(step.property)")
                        |{{step.property | cutprop}}
                        i.fa.fa-chevron-right(ng-show="!dirLeft(step.property)")
                        span.pop-over(ids="{{step.destination}}",ng-class='{"term":terms.indexOf(step.destination)>-1}') {{ step.destination | escape}}

            .col-md-9.nopaths(ng-show="selected && !paths.length")
                span No connection for the specified parameters

        .artooltip
            span
                i.fa.fa-spinner.fa-pulse
            i.art-close.fa.fa-times(ng-click="closePopup()")