.main.article-big
    .container-fluid
        .row
            .col-md-3.article-conteiner
                .article-content
                    .article-header


                        a.back(href='/article')
                            h4.text-uppercase
                                i.fa.fa-arrow-circle-left
                                |  Back
                        h1 {{article.title}}
                        hr
                        h5 By {{article.author}}
                        h4.text-uppercase {{article.date}}
                        a.text-capitalize(href='{{article.url}}')
                            h4
                                i.fa.fa-link
                                |  Original article
                        hr
                        h4.text-uppercase
                            | Main Entity:
                            span.entity {{terms[0] | escape}}

                    p(ng-bind-html-unsafe="article.text | highlight:terms")

            .col-md-9.viz
                .tabbable-panel
                    .tabbable-line
                        
                        .controls
                            .row
                                .col-md-4
                                    label Serendipity
                                    span.help
                                        i.fa.fa-question-circle(data-toggle='tooltip', data-placement='right', title='Description of this setting')
                                    input(type="range", min="1", max="100", ng-model="serendipity")
                                .col-md-2
                                    label Threshold
                                    span.help
                                        i.fa.fa-question-circle(data-toggle='tooltip', data-placement='right', title='Description of this setting')
                                    
                                    input(class="cut", type='number', ng-model='cut', min='0', max='100')
                                .col-md-4    
                                    div(ng-click="complete()", class="text-center btn-complete") Show the complete network
                                    


                        .tab-content
                            #tab_default_1.tab-pane.active
                                dnetwork

                            #tab_default_2.tab-pane

            .col-md-9.paths(ng-show="selected && paths.length")
                div.path-line(ng-repeat="path in paths")
                    i.term {{terms[0] | escape}}
                    span(ng-repeat="step in path.steps")
                        i.fa.fa-chevron-left(ng-show="dirLeft(step.property)")
                        |{{step.property | cutprop}}
                        i.fa.fa-chevron-right(ng-show="!dirLeft(step.property)")
                        i(class="pop-over",data-id="{{step.destination}}", data-original-title="default value",data-placement="top",ng-class='{"term":terms.indexOf(step.destination)>-1}') {{ step.destination | escape}}

            .col-md-9.nopaths(ng-show="selected && !paths.length")
                span No connection for the specified parameters