
/* Fonts */



body, html {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Patua One';
}

h1 {
  font-size: 60px;
}

h4 {
  font-size: 22px;
}

.lead {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
}

a {
  color: #888888;
  cursor: pointer;

  -webkit-transition: all 200ms linear;
   -moz-transition: all 200ms linear;
   -o-transition: all 200ms linear;
   -ms-transition: all 200ms linear;
   transition: all 200ms linear;
}

a:hover {
  color: #222222;
}

p {
  margin: 0 0 20px;
}

/* Scaffolding */
.container {
  margin-top: 100px;
  padding-bottom: 100px;
}

.prev,
.next {
  width: 40px;
  top: 0px;
  bottom: 0px;
  background-color: #eee;
  position: fixed;
  font-size: 24px;
  
  /* Internet Explorer 10 */
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;

  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari, Chrome, and Opera */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
}

.prev {
  left: 0px;
}

.next {
  right: 0px;
}


/* Articles */

.article {
  background-color: #eee;
  height: 200px;
  margin-bottom: 10px;
}

.article-img {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
}

.article-info {
  padding: 15px 45px;
  max-height: 200px;
}

.article-info a {
  color: #000;
}

.article-text {
  font-family: 'Merriweather', Georgia, serif;
  line-height: 1.6;
  font-size: 14px;
  font-weight: 300;
}


.linked {
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 10;
  background: rgba(255,255,255,1);
  -webkit-transition: translate3d 0.5s;
  transition: translate3d 0.5s;
  border-top: 3px solid #ddd;
}

.linked.open {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.linked.close {
  -webkit-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  opacity: 0;
}

svg text {
  pointer-events: none;
  font-family: 'Patua One';
  font-size: 12px;
}

.node rect {
    stroke-width: 0px;
    fill: #F4F7A7;
    opacity: 1;
}

.edgeLabel rect {
  fill-opacity:0;
}

.edgeLabel text {
  opacity: .7;
}

.edgePath {
    stroke: #999999;
    stroke-width: 25px;
    fill: none;
    opacity: .2;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.ui-match { background: yellow; }

/*
#chart {
  height: 500px;
}

.node.nodelink rect {
  fill: #999999;
  opacity: .2;
  fill-opacity:1;
}

.node rect {
  fill : #E6EC4C;
  fill-opacity: .5;
  stroke: none;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  font-family: 'Patua One';
  font-size: 12px;
}

.node.nodelink text {
  fill: #666;
}

.link {
  fill: none;
  stroke: #999999;
  stroke-opacity: .2;
}

.link:hover {

}
*/

path {
    fill: none;
    stroke: #777;
    stroke-width: 1px;
    marker-end: url(#arrow);
}


circle {
    fill: #ccc;
    stroke: #333;
    stroke-width: 1px;
}

text {
    font: 10px sans-serif;
    pointer-events: none;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
