
/* Fonts */



body, html {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Patua One';
}

h1 {
  font-size: 60px;
}

h4 {
  font-size: 22px;
}

.lead {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 13px;
}

/* Scaffolding */
.container {
  margin-top: 100px;
  padding-bottom: 100px;
}


/* Articles */

.article {
  background-color: #eee;
  height: 200px;
  margin-bottom: 10px;
}

.article-img {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
}

.article-info {
  padding: 15px 45px;
  max-height: 200px;
}

.article-info a {
  color: #000;
}