
/* Fonts */



body, html {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
    height:100%;
   

}

h1, h2, h3, h4 {
  font-family: 'Patua One';
}


h4 {
  font-size: 22px;
}

.lead {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
}

a {
  color: #888888;
  cursor: pointer;

  -webkit-transition: all 200ms linear;
   -moz-transition: all 200ms linear;
   -o-transition: all 200ms linear;
   -ms-transition: all 200ms linear;
   transition: all 200ms linear;
}

a:hover {
  color: #222222;
}

p {
  margin: 0 0 20px;
}

/* Scaffolding */
.container {
  margin-top: 100px;
  padding-bottom: 100px;
}

.prev,
.next {
  width: 40px;
  top: 0px;
  bottom: 0px;
  background-color: #eee;
  position: fixed;
  font-size: 24px;
  
  /* Internet Explorer 10 */
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;

  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari, Chrome, and Opera */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
}

.prev {
  left: 0px;
}

.next {
  right: 0px;
}


/* Articles */

.article {
  background-color: #eee;
  height: 200px;
  margin-bottom: 10px;
}

.article-img {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
}

.article-info {
  padding: 15px 45px;
  max-height: 200px;
}

.article-info a {
  color: #000;
}

.article-text {
  font-family: 'Merriweather', Georgia, serif;
  line-height: 1.6;
  font-size: 14px;
  font-weight: 300;
}


.linked {
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 10;
  background: rgba(255,255,255,1);
  -webkit-transition: translate3d 0.5s;
  transition: translate3d 0.5s;
  border-top: 3px solid #ddd;
}

.linked.open {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.linked.close {
  -webkit-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  opacity: 0;
}

svg text {
  pointer-events: none;
  font-size: 12px;
}

.node rect {
    stroke-width: 0px;
    fill: #F4F7A7;
    opacity: 1;
}

.edgeLabel rect {
  fill-opacity:0;
}

.edgeLabel text {
  opacity: .7;
}

.edgePath {
    stroke: #999999;
    stroke-width: 25px;
    fill: none;
    opacity: .2;
}

.overlay {
  fill: none;
  pointer-events: all;
}


/*
#chart {
  height: 500px;
}

.node.nodelink rect {
  fill: #999999;
  opacity: .2;
  fill-opacity:1;
}

.node rect {
  fill : #E6EC4C;
  fill-opacity: .5;
  stroke: none;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  font-family: 'Patua One';
  font-size: 12px;
}

.node.nodelink text {
  fill: #666;
}

.link {
  fill: none;
  stroke: #999999;
  stroke-opacity: .2;
}

.link:hover {

}
*/

path {
    fill: none;
    stroke: #777;
    stroke-width: 1px;
    marker-end: url(#arrow);
}


circle {
    fill: #ccc;
    stroke: #333;
    stroke-width: 1px;
}

text {
    font: 10px sans-serif;
    pointer-events: none;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Roboto:500,400italic,700italic,300,700,400);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic);

body {
    height: 100%;
}

/*Typography*/
p{
    font-family: 'Merriweather', serif;
    line-height: 170%;
    font-size: 0.9em;
}

h1{
    width: 100%;
    font-family: 'Playfair Display', serif;
    font-size: 2.6em;
    font-weight: 700;
}

.intro{
    background: #FFF7BC;
    padding-bottom: 20px;
}

.intro hr{
    background: #FFF7BC;
    padding-bottom: 50px;
}

.intro h1{
    width: 100%;
    font-family: 'Playfair Display', serif;
    font-size: 7.6em;
    font-weight: 700;
    padding-top: 50px;
    margin-bottom: 0;
    padding-bottom: 40px;
}

.intro h2{
    width: 100%;
    font-family: 'Playfair Display', serif;
    font-size: 1.3em;
    font-weight: 700;
    font-style: italic;
    margin-top: 0px;

}

.intro h4, .explore-title {
    font-weight: 700;
}

.intro a{
    font-weight: 400;
}

.intro a:hover{
    color: #747474;
}

.intro p{
    font-size: 1.2em;
    padding-bottom: 10px;
    padding-top: 10px;
}

.explore{
    padding-top: 20px;
    padding-bottom: 100px;
}

.about{
    padding-top: 50px;
}

.about p{
    font-size: 1.2em;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 50px;
}



.explore-article{
    border: 1px solid #EDEDED;
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    transition: all 0.2s linear;
    height:220px;
}

.explore-article h1{
    width: 100%;
    font-family: 'Playfair Display', serif;
    font-size: 1.8em;
    font-weight: 700;
    margin-top: 0;
}

.explore-article:hover{
    color:#000;
    background-color: #F5F5F5;
    cursor: pointer;
}

.explore-article a:hover{
    color: #000!important;
}



h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    letter-spacing: 1px;
    line-height: 140%;
}

h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    letter-spacing: 1px;
}

h5{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
}

label{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1em;
    padding-right: 3px;
}

a {
    transition: all 0.2s linear;
}

a, a:visited{
    color: #000;
}

a:hover{
    text-decoration: none;
    color: #ccc;
}

.help{
    color: #999;
}

.entity, .ui-match{
    background: #FFF7BC;
    padding:0 1px 0 1px;
    font-weight: 700;
}

.entity:hover,.ui-match:hover{
    background: #ffe632;
}

.ui-match{
  cursor:pointer;
}

.article-container{
    height: 100%;
    border-right:1px solid #EDEDED;
    padding-right: 20px;
    padding-left: 20px;

}

.article-content{
    height: 100%;
}

.article-header{
    padding-top: 20px;
    padding-bottom: 30px;
}

.article p{
    padding-top: 30px;
}

.controls{
    margin-top:0px;
    height: 80px;
    border-bottom: 1px solid #e7e7e7;
    padding: 15px;
}

.settings{
    padding-left: 15px;
    padding-top: 10px;
}

.viz{
    margin:0;
    padding: 0;
}

/* Tabs panel */
.tabbable-panel {

}

/* Default mode */
.tabbable-line > .nav-tabs {
    border-bottom: 1px solid #e7e7e7;
    margin: 0px;
    padding-top: 15px;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;

}
.tabbable-line > .nav-tabs > li {
    margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
    border: 0;
    margin-right: 0;
    color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
    color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
    border-bottom: 4px solid #FFF7BC;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid #ffe632;
    position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
    border: 0;
    color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
    color: #404040;
}
.tabbable-line > .tab-content {
    margin-top: -3px;
    border: 0;
    padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
    padding-bottom: 0;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
}

.nav-tabs {
    text-align:center;
}



.footer{
    height: 150px;
    background-color: #333;
}

.top{
    height: 10px;
    background-color: #333;
}


.article-conteiner{
    overflow-y: auto;
    border-right: 1px solid #e7e7e7;
}
text {
    font-family: "Roboto";
}
.paths {
    position: absolute;
    background: white;
    border-top: 1px solid black;
    bottom: 0;
    right: 0;
    padding: 5px;
    height: 200px;
    overflow-y: auto;
}
.paths i {
    text-decoration: none;
    padding:0px 5px;
    background-color:#ddd;
    display: inline-block;
    margin: 0 3px;
}
.paths i.fa {
    background-color: transparent;
}
.term{
    background-color: #FFF7BC !important;
}
.path-line{
    margin-bottom: 3px;
}

.footer{
    height: 150px;
    background-color: #333;
}

.top{
    height: 10px;
    background-color: #333;
}
.highlight{
  background:#ffe632;
}

.article-big{
  height:100%;
  overflow:hidden;
}

.cut{
  display: block;
}
.cut{
  clear:left;
}
.btn-complete{
  padding:10px;
  cursor:pointer;
  margin-top:15px;
  background:#f3f3f3;
  width: auto;
}
.help {
  display: inline-block;
}
label{

}

.nopaths{
    position: absolute;
    top: 50%;
    left: 25%;
    text-align: center;
    width: 75%;
    color: #ddd;
    font-size: 2em;
}